doctype html
html
  head
    title= title
    script(src='https://www.google.com/recaptcha/api.js')
    script(src='https://dip.zeronaught.com/__imp_apg__/js/f5cs-a_aaopG_pf9U-eee63167.js')

    block header

    style.
        .footer{
            width:100%;
            padding: 0 0 10% 0;
        }
  body
    block content

  footer.footer <a href="https://github.com/wesleyhales/deviceid.dev/discussions">Project source on Github</a>